<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.js"
      integrity="sha512-1U5h12TxSFIDbYnBIrGiRcfywurjIV3+DfYiwWOMuz64I6jFTYvWHZRaUSUmql2grcZ+U8ZrZOQ5zPjb1qtvSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/angular-gridster/0.13.15/angular-gridster.css"
      integrity="sha512-K8PaPrVtxr42eepUmgKHWCNsKcgbp6KMjdskJB+aW6383t1isdR1JXbrwsl0INkcgzpzW2V74afOikVSfJCDWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.30/angular-ui-router.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-resize/1.1/jquery.ba-resize.js"
      integrity="sha512-0FbtmqaOoDFqTiB79uNhqKmLE2Awl4vGwCxLdJKUZkBoJe6YM6UdTgFU3leIQrml2ToOv23h6o81K2VJ9uxWUg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-gridster/0.13.15/angular-gridster.js"
      integrity="sha512-2fUI7MSkbgnGiMgve7NFz5NAFBt4MKKUjNVl8Y1oapiRVdANviTaHNgoj5GqVTimmwmdoU6sOqMbjI41Djc3yA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="./app.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExamForm</title>
  </head>
  <body ng-app="app" style="background-color: white">
    <nav class="navbar navbar-dark bg-primary" ng-show="navbar">
      <div class="container-fluid">
        <a
          class="navbar-brand nav justify-content-center"
          style="justify-content: center"
        ></a>
        <a
          class="navbar-brand nav justify-content-center"
          style="justify-content: center"
          ng-show="teachericon"
          >Faculty Panel</a
        >
        <a
          class="navbar-brand nav justify-content-center"
          style="justify-content: center"
          ng-show="studenticon"
          >Student Dashboard</a
        >
        <div class="d-flex">
          <div class="btn-group dropstart" ng-show="teachericon">
            <button
              class="btn dropstart-toggle dropstart"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="../index/teacher.png"
                width="30"
                height="30"
                alt=""
                srcset=""
              />
            </button>
            <ul
              class="dropdown-menu list-group-item-dark"
              aria-labelledby="dropdownMenuButton1"
            >
              <button type="button" class="btn">
                <li class="list-group-item-dark">
                  <span>{{teacher1}}</span>
                </li>
              </button>
              <button type="button" class="btn btn-info" ui-sref="logout">
                <li class="list-group-item-dark">
                  <i
                    class="fas fa-sign-out-alt dropdown-item"
                    style="cursor: pointer"
                    >Logout</i
                  >
                </li>
              </button>
            </ul>
          </div>

          <div class="btn-group dropstart" ng-show="studenticon">
            <button
              class="btn dropstart-toggle dropstart"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="../index/student.png"
                width="30"
                height="30"
                alt=""
                srcset=""
              />
            </button>
            <ul
              class="dropdown-menu list-group-item-dark"
              aria-labelledby="dropdownMenuButton1"
            >
              <button type="button" class="btn">
                <li class="list-group-item-dark">
                  <span>{{student1}}</span>
                </li>
              </button>
              <button type="button" class="btn btn-secondary" ui-sref="logout">
                <li class="list-group-item-dark">
                  <i
                    class="fas fa-sign-out-alt dropdown-item"
                    style="cursor: pointer"
                    >Logout</i
                  >
                </li>
              </button>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div ui-view></div>
  </body>
</html>
