<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="col d-flex justify-content-center">
      <div
        class="card text-white bg-dark mb-3"
        style="width: 25rem; height: 20rem"
      >
        <div class="card-body">
          <h5 class="card-title text-center">Student Login</h5>
          <br />
          <div class="col-auto">
            <label class="visually-hidden">Username</label>
            <input
              type="text"
              class="form-control"
              id="inputPassword2"
              placeholder="Username"
              ng-model="username"
            />
          </div>

          <br />
          <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              ng-model="password"
            />
          </div>

          <br /><br />
          <div class="container">
            <button
              type="button"
              class="btn btn-success col justify-content-center btn-sm"
              ng-click="flogin()"
            >
              Login
              <div
                class="spinner-grow spinner-grow-sm"
                role="status"
                ng-show="loading4"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #2e5174, #5f2929);
        height: 100vh;
        overflow: hidden;
      }
    </style>
  </body>
</html>
