<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br />
    <br />
    <div class="container">
      <form class="align-items-center">
        <h2 style="text-align: center">Question Paper</h2>
        <h4 style="text-align: right">{{timer}}</h4>

        <div class="col-md-4" ng-repeat="(ques,ques2) in attemptquestion">
          <h6 for="inputCity" class="form-label">
            Q{{$index+1}}. {{ques2.quest}}
          </h6>
          <!-- <input type="text" class="form-control" /><br /> -->
          <div class="form">
            <textarea
              class="form-control"
              id="floatingTextarea"
              ng-model="ques2.ans"
              required
            ></textarea>
          </div>
          <br />
        </div>
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary"
            style="width: 150px"
            ng-click="TestSubmit()"
            ng-show="submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #96a2a8, #7e95a0);
      }
    </style>
  </body>
</html>
