<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br />
    <div class="container text-center">
      <nav class="navbar navbar-dark bg-info">
        <div class="container-fluid">
          <a class="navbar-brand">
            LIVE EXAM
            <div
              class="spinner-border spinner-border-sm"
              role="status"
              ng-hide="live"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
          </a>
        </div>
      </nav>
      <br />
      <table class="table" ng-show="live">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Course</th>
            <th scope="col">Subject</th>
            <th scope="col">Exam Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="exam in liveexam">
            <th scope="row">{{$index+1}}</th>
            <td>{{exam.course}}</td>
            <td>{{exam.subject}}</td>
            <td>{{exam.exam_title}}</td>
            <td>{{exam.start_date}}</td>
            <td>{{exam.end_date}}</td>

            <td>
              <button
                type="button"
                class="btn btn-outline-primary"
                ng-click="attempt(exam.id,$index)"
              >
                Attempt
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br /><br />
    <div class="container text-center">
      <nav class="navbar navbar-dark bg-info">
        <div class="container-fluid">
          <a class="navbar-brand">
            UPCOMING EXAM
            <div
              class="spinner-border spinner-border-sm"
              role="status"
              ng-hide="upcoming"
            >
              <span class="visually-hidden">Loading...</span>
            </div></a
          >
        </div>
      </nav>
      <br />
      <table class="table" ng-show="upcoming">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Course</th>
            <th scope="col">Subject</th>
            <th scope="col">Exam Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <!-- <th scope="col">Countdown</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="exam in upcomingexam">
            <th scope="row">{{$index+1}}</th>
            <td>{{exam.course}}</td>
            <td>{{exam.subject}}</td>
            <td>{{exam.exam_title}}</td>
            <td>{{exam.start_date}}</td>
            <td>{{exam.end_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br /><br />
    <div class="container text-center">
      <nav class="navbar navbar-dark bg-info">
        <div class="container-fluid">
          <a class="navbar-brand">
            PREVIOUS EXAM
            <div
              class="spinner-border spinner-border-sm"
              role="status"
              ng-hide="previous"
            >
              <span class="visually-hidden">Loading...</span>
            </div></a
          >
        </div>
      </nav>
      <br />
      <table class="table" ng-show="previous">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Course</th>
            <th scope="col">Subject</th>
            <th scope="col">Exam Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="exam in previousexam">
            <th scope="row">{{$index+1}}</th>
            <td>{{exam.course}}</td>
            <td>{{exam.subject}}</td>
            <td>{{exam.exam_title}}</td>
            <td>{{exam.start_date}}</td>
            <td>{{exam.end_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #a5aab438, #3d27524d);
        height: auto;
        overflow-x: hidden;
      }
    </style>
  </body>
</html>
