<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br />
    <div class="container text-center">
      <nav class="navbar navbar-dark bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Form </a>
        </div>
      </nav>
      <br />
      <div class="container">
        <div style="margin-left: 155px">
          <form class="row gx-2 gy-2 align-items-center" >
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">COURSE</label>
              </div>
              <div class="col-auto">
                <div style="width: 235px">
                  <div class="dropdown">
                    <button
                      class="btn btn-light dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      style="width: 235px ;"
                      
                    >
                      {{dropdown1}}
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                      style="width: 235px"
                    >
                    <button class="btn btn-light" type="button" disabled ng-hide="loading6">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Loading...
                    </button>
                      <li ng-repeat="course in courses">
                        <a
                          ng-model="course"
                          class="dropdown-item"
                          ng-click="select(course.S_No,course.value)"
                          >{{course.value}}</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">BRANCH</label>
              </div>
              <div class="row g-3 align-items-center col-md-6">
                <div class="col-auto">
                  <div style="width: 235px">
                    <div class="dropdown">
                      <button
                        class="btn btn-light dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ng-disabled="branch"
                        style="width: 235px"
                      >
                        {{dropdown2}}
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                        style="width: 235px"
                      >
                      <button class="btn btn-light" type="button" disabled ng-hide="loading5">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                      </button>
                        <li ng-repeat="branch in branches">
                          <a
                            class="dropdown-item"
                            ng-model="branch"
                            ng-click="select2(branch.value)"
                            >{{branch.value}}</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">START DATE</label>
              </div>
              <div class="col-auto">
                <input
                  ng-model="sdate"
                  type="date"
                  class="form-control"
                  style="width: 235px"
                  required
                />
              </div>
            </div>
            <br />
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">END DATE</label>
              </div>
              <div class="col-auto">
                <input
                  ng-model="edate"
                  type="date"
                  class="form-control"
                  style="width: 235px"
                  required
                />
              </div>
            </div>
            <br />
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">START TIME</label>
              </div>
              <div class="col-auto" style="width: 265px">
                <input type="time" class="form-control" ng-model="stime" required/>
              </div>
            </div>
            <br />
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">END TIME</label>
              </div>
              <div class="col-auto">
                <input
                  type="time"
                  class="form-control"
                  style="width: 235px"
                  ng-model="etime"
                  required
                />
              </div>
            </div>
            <br />
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">EXAM TITLE</label>
              </div>
              <div class="col-auto">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  style="width: 235px"
                  ng-model="title"
                  required
                />
              </div>
            </div>
            <div class="row g-3 align-items-center col-md-6">
              <div class="col-4">
                <label class="col-form-label">SUBJECT</label>
              </div>
              <div class="col-auto">
                <input
                  type="text"
                  class="form-control"
                  ng-model="subject"
                  style="width: 235px"
                  placeholder="Subject"
                  required
                />
              </div>
            </div>

            <div class="col-12">
              <button
                type="submit"
                class="btn btn-primary"
                style="width: 150px"
                ng-click="create()"
              >
                Create&nbsp;<div class="spinner-border spinner-border-sm" role="status" ng-show="loading7">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br /><br /><br />
    <div class="container" ng-show="createoption">
      <div class="container">
        <nav class="navbar navbar-dark bg-info">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> Create Form </a>
          </div>
        </nav>
      </div>
      <div class="container-fluid" >
        <h4 style="text-align: center">{{testsubject}}-{{testcourse}}</h4>
        <h3 style="text-align: center">Test Paper</h3>

        <hr size="10" width="100%" color="black" />
        <!-- <h6>note</h6> -->
        <button type="button" class="btn btn-success" ng-click="addBloc()">
          +Add question
        </button>
        <br><br>
        <div ng-repeat="field in fields">
          <div class="row g-3 align-items-center col-md-6">
           
            <div class="col-8">
              
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"  ng-model="field.quest"
               
                required></textarea>
                <label for="floatingTextarea">Question {{$index+1}}</label>
              </div><br>  <button type="submit" class="btn btn-danger btn-sm" ng-click="removeBloc(field)">
                Delete
              </button>
            </div>
            <div class="" style="width: 500px">
              <input
              ng-show="false"
                class="form-control"
                ng-model="field.ans"
              />
            </div>
          </div>
          <br />
        </div>

        <button type="button" class="btn btn-primary" ng-click="submit()">
          Submit
        </button>
      </div>
    </div>
    <br />
    <br /><br /><br />
    <div class="container">
      <button
        type="button"
        class="btn btn-primary"
        style="width: 150px"
        ng-click="view()"
      >
        View Previous
      </button>
    </div>
    <br /><br /><br />
    <div class="container" ng-show="status">
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Previous Forms </a>
        </div>
      </nav>
      <br /><br />
      <div class="container">
        <table class="table" ng-show="loading2">
          <thead>
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Course</th>
              <th scope="col">Subject</th>
              <th scope="col">Exam Title</th>
              <th scope="col">Start Date</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">View</th>
              <th scope="col">Delete </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="exam in exams">
              <th scope="row">{{$index+1}}</th>
              <td>{{exam.course}}</td>
              <td>{{exam.subject}}</td>
              <td>{{exam.exam_title}}</td>
              <td>{{exam.start_date}}</td>
              <td>{{exam.start_time}}</td>
              <td>{{exam.end_time}}</td>

              <td>
                <button type="button" class="btn btn-outline-secondary" ng-click="viewques(exam.id)">
                  View
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  ng-click="del(exam.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center" ng-hide="loading2">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #858b83b7, #dbd5d5);
        height: auto;
        overflow-x: hidden;
      }
    </style>
  </body>
</html>
