<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" ng-show="table">
      <br /><br />
      <nav class="navbar navbar-dark bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{title1}}</a>
        </div>
      </nav>
      <div class="container" >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Student ID</th>
              <th scope="col">Student Name</th>
              <th scope="col">Username</th>
              <th scope="col">Mobile</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(student,detail) in evaluate">
              <th scope="row">{{$index+1}}</th>
              <td>{{detail.student_id}}</td>
              <td>{{detail.first_name}}</td>
              <td>{{detail.username}}</td>
              <td>{{detail.mobile_no}}</td>
              <td ng-show="{{detail.status}}"><button type="button" class="btn btn-success" ng-click="viewans(student)">View</button></td>
              <td ng-hide="{{detail.status}}"><p style="color:rgb(185, 25, 25);">Absent</p></td>
            </tr>
          </tbody>
        </table>
      </div>
     
      </div>
    </div>
    <div class="container" >
      <br /><br />
      <nav class="navbar navbar-dark bg-info" ng-show="loading1">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EXAMS</a>
        </div>
      </nav>
      <div class="container" ng-show="loading1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Course</th>
              <th scope="col">Subject</th>
              <th scope="col">Exam Title</th>
              <th scope="col">Start Exam</th>
              <th scope="col">End Exam</th>
              <th scope="col">View Form</th>
            </tr>
          </thead>
          <tbody>
            
            <tr ng-repeat="exam in exams">
              <th scope="row">{{$index+1}}</th>
              <td>{{exam.branch}}</td>
              <td>{{exam.subject}}</td>
              <td>{{exam.exam_title}}</td>
              <td>{{exam.start_date}} {{ exam.start_time}}</td>
              <td>{{exam.end_date}} {{ exam.end_time}}</td>

              <td>
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  ng-click="evaluate1(exam.id)"
                >
                  EVALUATE
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center" ng-hide="loading1">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #d6d8db, #f0eeee);
        height: auto;
        overflow-x: hidden;
      }
    </style>
  </body>
</html>
