<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br /><br /><br />
    <div class="container">
      <h1 style="text-align: center">Answer Sheet</h1>
      <br />
      <h3>Student Details</h3>
      <br />
      <h6>Name :{{studentfname}}</h6>
      <h6>Username: {{studentuser_name}}</h6>
      <h6>Student ID:{{studentid }}</h6>
      <h6>Mobile No.:{{studentmobileno}}</h6>
      <br />
      <div ng-repeat="i in recianswer">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label"
            >Q.{{$index+1}}</label
          >
          <div class="col-sm-10">
            <label>{{i.quest}}</label>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label"
            >Answer:</label
          >
          <div class="col-sm-10">
            <label>{{i.ans}}</label>
          </div>
        </div>
      </div>
    </div>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #93abcc, #1f101000);

        overflow-x: hidden;
      }
    </style>
  </body>
</html>
