<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br /><br /><br />
    <div class="container">
      <form>
        <div ng-repeat="j in reciquestion">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea"
              ng-model="j.quest"
              required
            >
{{j.quest}}</textarea
            >
            <label for="floatingTextarea">Q.{{$index+1}}</label>
          </div>
          <br /><br />
        </div>
        <button
          type="submit"
          class="btn btn-success"
          ng-click="update()"
          ng-show="updatebutton"
        >
          Update
        </button>
      </form>
    </div>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #93abcc, #1f101000);
      }
    </style>
  </body>
</html>
